---
import JoyConLayout from "./JoyConLayout.astro";
---

<div class="relative z-0">
    <JoyConLayout direction="right">
        <!-- Border Colors -->

        <!-- Buttons -->

        <!-- Select btn -->
        <!-- Joystick -->
        <!-- D-Pad -->
        <!-- Screenshot button -->
    </JoyConLayout>
</div>
