---
import JoyConLayout from "./JoyConLayout.astro";
import Joystick from "./Joystick.astro";
---

<div class="relative z-0">
    <JoyConLayout direction="left">
        <!-- Border Colors -->

        <!-- Buttons -->

        <!-- Select btn -->
        <!-- Joystick -->
        <Joystick position="top" />
        <!-- D-Pad -->
        <!-- Screenshot button -->
    </JoyConLayout>
</div>
