---
import NintendoSwitch from "../components/NintendoSwitch.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div>
        <h1 class="text-4xl text-center my-12">Nintendo Switch 2</h1>
        <NintendoSwitch />
    </div>
</Layout>
