---
import JoyConLeft from "./controllers/JoyConLeft.astro";
import JoyConRight from "./controllers/JoyConRight.astro";
import Screen from "./Screen.astro";
---

<div class="flex mx-10">
    <JoyConLeft />
    <Screen />
    <JoyConRight />
</div>
