<div class="absolute -bottom-0 right-1/6">
    <div class="w-16 h-1 bg-black rounded-se-lg rounded-ss-lg"></div>
</div>
<div class="absolute -bottom-0 left-1/6">
    <div class="w-16 h-1 bg-black rounded-se-lg rounded-ss-lg"></div>
</div>
