---
import Output from "./Output.astro";
import Volume from "./Volume.astro";
---

<div class="relative px-2 mx-2 py-3 my-3 bg-[#525458]">
    <div class="px-8 py-4 bg-black">
        <div class="w-4xl h-[30rem] bg-gray-900 overflow-x-auto">
            <Volume />
            <Output />
        </div>
    </div>
</div>
