<div class="absolute -top-1 left-1/6 flex gap-2">
    <div class="w-8 h-1 bg-[#525458] rounded-ss-sm rounded-se-sm"></div>
    <div class="w-8 h-1 bg-[#525458] rounded-ss-sm rounded-se-sm"></div>
</div>
