<div class="absolute -top-1 left-1/6 flex gap-2">
    <div class="w-8 h-1 bg-[hsl(220,4%,20%)] rounded-ss-sm rounded-se-sm"></div>
    <div class="w-8 h-1 bg-[hsl(220,4%,20%)] rounded-ss-sm rounded-se-sm"></div>
</div>
